/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Allura&family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Indie+Flower&family=Lobster&family=Luckiest+Guy&family=Press+Start+2P&family=Reenie+Beanie&family=Rubik+Bubbles&family=Satisfy&family=Shadows+Into+Light&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Titan+One&display=swap');

:root {
    --light-brown: #fd9657;
    --dark-brown: #672524;
    --white: #ffff;

    --intro-font: "Titan One", serif;
    --manji-mind-size: 3rem;
    --Mono:  "Space Mono", serif;

    --title-size: 4rem;
    --title-font: "Rubik Bubbles", serif;


    --handwriting: "Indie Flower", serif;
    /* --handwriting: "Reenie Beanie", serif; */
    --reenie: "Reenie Beanie", serif;
    --titan: "Titan One", serif;
    --space-mono: "Space Mono", serif;
    --shadows: "Shadows Into Light", serif;
    --satisfy: "Satisfy", serif;
    --press-start: "Press Start 2P", serif;
    --lucky: "Luckiest Guy", serif; 
    --lobster: "Lobster", serif;
    --caveat: "Caveat", serif;
    --amatic: "Amatic SC", serif;
    --allura: "Allura", serif;
    --agu: "Agu Display", serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body, html, main {
    display: flex;
    flex-direction: column;


    width: 100vw;
    overflow-x: hidden;

    margin: 0;
    padding: 0;

    background-color: var(--light-brown);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    min-height: 100vh;

    min-height: min(100vh, auto);
    max-height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 80%;
}

a {
    text-decoration: none;
    color: black;
}

em, i {
    font-style: italic;
}

.two-col {
    margin-top: 1rem;

    display: flex;
    justify-content: space-between;
}

.hobby-pics {
    display: grid;
    width: 45rem;

    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));    
    gap: 0.5rem;
}

.hobby-pics img {
    width: 20rem;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%; /* Make it take the full width of its parent */
    max-width: 400px; /* Adjust this based on how wide you want it */
}

.intro {
    width: 25rem;
    
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    
    text-align: center;
}

.intro .title {
    font-family: var(--intro-font);
    font-size: var(--manji-mind-size);
    margin-bottom: 0.75rem;
}

.intro .subheading {
    font-style: italic;
    font-family: var(--Mono);
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.category {
    text-align: center;
    font-family: var(--title-font); 
    font-size: 1.75rem;
}

.box {
    width: 100%; /* Ensures all boxes are the same width */
    max-width: 350px; /* Adjust as needed */
    padding: 1rem;
    text-align: center;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    box-shadow: 7px 12px 0px black;
    background-color: var(--white);
    transition: all 0.5s ease-in-out;
}

.sect h1 {
    color: var(--white);
    font-size: var(--title-size);
    font-family: var(--title-font);
    padding-top: 1rem;
}

.sect {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    min-height: min(100vh, auto);
    max-height: 200vh;

}

.content-wrapper {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align everything to the left */
    width: 50%; /* Set a container width */
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the wrapper */
}

.poem-container, .more-options {
    display: flex;
    flex-direction: column;
}

.more-options {
    margin-top: 5em;
    font-family: var(--space-mono);
}

.rap {
    text-align: left;
    font-size: 2rem;
    line-height: 3rem;
    margin: 1rem 0;

}

.mitchie {
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
    width: 200px;
}

.drax {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(-90deg);
   
    width: 300px;
}

.header-container {
    display: flex;
    gap: 10px; /* Space between the main heading and subtext */
    flex-wrap: wrap; /* Allows wrapping if the screen is too small */
}

.click {
    font-size: 2.25rem;
}

ul, 
ol {
    margin: 0.25rem 3rem;
    text-align: left;
}

li {
    display: flex;
    align-items: center;
    margin-top: 0.75rem;

    font-family: var(--Mono);
    font-size: 1.8rem;
}

li::before {
    content: "\2728 ";
    padding-right: 10px;
}

.subtext {
    /* position: absolute; */
    left: 100%; /* Moves it to the right of the heading */
    bottom: 0; /* Aligns to the bottom of the heading */
    font-style: italic;
}

p {
    white-space: pre-line; /* This ensures that any extra lines in the HTML are converted into breaks. */
    /* margin: auto 2rem; */

    max-width: 60rem;
    font-size: 1.5rem;
    font-family: var(--space-mono);
    line-height: 2rem;
}

p, 
li {
    word-spacing: -0.3rem;
}


p + ol {
    margin: 2rem;
}

.explain {
    font-family: var(--agu);
    font-family: var(--lobster);
    font-family: var(--Mono);
    font-family: var(--shadows);
    font-family: var(--space-mono);

    font-size: 2rem;
    font-size: 1.5rem;
    /* word-spacing: 0.75rem; */
    line-height: 2.7rem;
    /* font-weight: 900; */
    margin-top: 0.5rem;
}

/* sticky Back To Top button in bottom left-hand corner */
.to-top, 
.to-home,
.to-art,
.to-writing,
.to-reading {
    position: fixed;
    bottom: 20px;
    left: 20px;

    background-color: var(--dark-brown);
    background-color: var(--light-brown);
    padding: 1rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
    box-shadow: 7px 8px 0px black;

    color: white;
    color: black;
    font-family: var(--handwriting);
    font-size: 1.5rem;
    font-weight: 600;
}

.to-home {
    bottom: 100px;
}

.to-art {
    bottom: 180px;
}

.to-writing{
    bottom: 260px;
}

.to-reading {
    bottom: 340px;
}

/* Container for question and answer */
.qa-container {
    position: relative;
    width: 100vw;
    min-height: 100vh;

    min-height: min(100vh, auto);
    max-height: 200vh;

}

/* Style for the question (left side, vertical) */
.question {
    position: absolute;
    width: 100%;
    left: 5%;
    top: 75%;
    transform: translateY(-50%) rotate(-90deg); /* Rotate to make it vertical */
    transform-origin: left center;
    white-space: nowrap;
    font-family: var(--space-mono);
    font-size: 1.75rem;
    text-align: left;
}

/* Style for the answer (top center) */
.answer h2 {
    font-weight: bold;
}

.answer {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--title-size);
    text-align: center;

    justify-content: center;
    align-items: center;
}

/* Style for answer description (paragraph under answer) */
.answer  p, h1 + p, .rap p {
    font-family: var(--space-mono);
    font-size: 1.5rem;
    text-align: left;
    margin-top: 1rem; /* Adjust spacing from answer */
}

img {
    max-width: 100%;

}

.florida, 
.answer img {
    width: 40rem;
    margin-top: 3rem;
}

.floridaman {
    text-decoration: underline;
}

small {
    position: relative;
    bottom: -10rem;
    font-size: 1.15rem;
    font-weight: bold;
}

sup {
    font-size: 1rem;
    font-weight: bold;
    vertical-align: super;
}

.card-container {
    display: grid;
    margin: 0 auto;
    width: 65%;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;

    align-items: flex-end;
    margin: 3rem auto;
}

.card {
    display: flex;
    flex-direction: column;

    border: 2px solid black;
    padding: 0.5rem;
    background-color: var(--white);
    background-color: rgba(255, 255, 255, 0.45);

    text-align: center;

    font-family: var(--lobster);
    font-size: 1.8rem;
}

.card .title {
    margin-top: 1rem;
}

.wavelength {
    display: flex;
    justify-content: center;

    padding: 2rem 0;
}

strong {
    font-weight: 900;
}

img.chill {
    width: 70px;
    height: 50px;
    margin: 0;
}


@media (width < 1441px) {
    .poems {
        width: 50vw;
    }

    .qa-container p {
        width: 80vw;
    }

    .drax, .mitchie {
        width: 13rem;
    }

    img .florida, 
    img .manji {
        max-width: 30%;
    }

    .click, 
    ul li {
        font-size: 1.65rem;
    }
    
    li::before {
        content: "\2728 ";
        padding-right: 10px;
    }

    p {
        width: 80%;
    }

    .sect p,
    .answer p {
        font-size: 1.2rem;
    }

    .hobby-pics {
        display: grid;
        width: 25rem;
    
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));    
        gap: 0.5rem;
    }
    
    .hobby-pics img {
        width: 15rem;
    }
}


@media (width < 770px ) {
    .sect h1 {
        font-size: 2.75rem;
    }

    .sect {
        margin-bottom: 3rem;
    }

    /* POETRY */
    .poems {
        width: 75%;
    }

    .card {
        height: auto;
        max-width: 25rem;
    }

    .drax, .mitchie {
        width: 8rem;
    }

    .answer {
        margin: 0;
        padding: 0;
    }

    /* NAVIGATION BUTTONS */
    .to-top, 
    .to-home,
    .to-art,
    .to-writing,
    .to-reading {
        position: fixed;
        bottom: 20px;
        left: 20px;
    }

    .to-home {
        left: 130px;
    }

    .to-art {
        left: 235px;
    }

    .to-writing{
        left: 315px;
    }

    .to-reading {
        left: 425px;
    }

    .question {
        left: 50%;
        top: 0%;
        transform: translateY(0%) rotate(0deg); /* Rotate it back to normal to make it horizontal */
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .answer, .sect {
        padding-top: 1rem;
    }

    .question h1 {
        font-size: 2.35rem;
    }

    .answer {
        font-size: 2rem;
    }

    ul li,
    ol li {
        font-size: 1.5rem;
    }
}


@media (width < 441px) {

    .content-wrapper {
        width: 80vw;
    }

    .rap p,
    .explain {
        font-size: 1.25rem;
    }

    .explain {
        line-height: 1.75rem;
    }

    p, 
    h1 + p, 
    h2 + p{
        width: 85%;
        font-size: 1.25rem;
        line-height: 1.4rem;

    }

    .answer h2 + p {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }

    ul li,
    ol li {
        font-size: 1.25rem;
    }

    .mitchie, 
    .drax, 
    .hobby-pics > img {
        display: none;
    }

    .two-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
